* {box-sizing: border-box; }

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  color: #eee;
}

#chart {
  background: #30303A;
  margin: 4px;
  display: inline-grid;
  grid-template-rows: 1fr auto .5fr 0.5fr;
  grid-template-columns: 1fr 1fr 6px auto 1fr; /* the 6px (ticks column) could be made VARIABLE */
  grid-template-areas:
  ". . . title ."
  "y yy ticks bars ."
  ". . . xx ."
  ". . . x .";
}

h1 {
  color: #eee;
  text-align: center;
  grid-area: title;
}

#y-title {
  grid-area: y;
  align-self: center;
  font-size: larger;
  transform: rotate(180deg);
  padding: 0 20px 0 10px;
  writing-mode: vertical-rl;
}

#y-axis {
  white-space: nowrap;
}

#yBox {
  grid-area: yy;
}

#numbers {
 display: grid;
 height: 100%;
}

.numbers {
  text-align: right;
  position: relative;
  bottom: 7px;
  right: 5px;
}

#tickBox {
  grid-area: ticks;
}

#ticks {
 display: grid;
 height: 100%;
 grid-row-gap: 1px;
 padding-top: 1px;
 background-color: #eee;
}

.ticks {
  background-color: #30303A;
}

#barsBox {
  background: rgba(0, 0, 0, 0.2);
  border: 1px #444 solid;
  grid-area: bars;
}

.bars {
  display: grid;
  grid-template-rows: repeat(100, 1fr);
  height: 100%;
  overflow: hidden;
}

@keyframes slideUp {
  0% {transform: translateY(100%);}
  100% {transform: translateY(0);}
}

.bar- {
  overflow: hidden;
  margin: 0;
  padding: 0;
  grid-row-end: 102;
  text-align: center;
  animation: 0.8s ease-out slideUp;
}

.bar-:hover {
  overflow: visible;
}
@keyframes spanAppear {
  0% {color: transparent;}
  100% {color: #eee}
}

.bar- > span {
  position: relative;
  animation: 0.8s ease-in spanAppear;
}

#xBox {
  text-align: center;
  grid-area: xx;
}

#values {
  display: grid;
}

.x-label {
  overflow: hidden;
  text-overflow: ellipsis;
}

.x-label:hover {
  position: relative;
  overflow: visible;
}

#x-axis {
  text-align: center;
  grid-area: x;
  font-size: larger;
  padding-bottom: 20px;
}