* { box-sizing: border-box; }

body {
  background: #30303A;
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  color: #eee;
}

h1 {
  color: #eee;
  text-align: center;
}

#chart {
  height: 300px; /* HEIGHT OF CHART */
  margin: 30px auto 0;
  display: inline-block;
}

#y-axis {
  height: 100%;
  width: 1em;
  margin: 0 20px 0 0;
  padding: 0;
  display: inline-block;
  float: left;
}

#y-axis li {
  list-style: none;
  transform: rotate(270deg);
  position: relative;
  top: 50%;
  white-space: nowrap;
}


#yBox {
  height: 100%;
  width: 50px; /* this needs to adjust to the size of the label, and lots of other components will need to move too */
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}

#numbers {
 display: grid;
 grid-template-columns: 100%; /* is affected by width above */
}

.numbers {
  text-align: right;
  padding-right: 1em;
  position: relative;
  border-bottom: 1px solid #444;
}

#barsBox {
  height: 100%;
  width: 600px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  border: 1px #444 solid;
}

.bars {
  display: grid;
  grid-template-rows: repeat(100, 1fr); /* VARIABLE BASED ON Y-AXIS TICKS AND MAX VALUE */
  height: 100%;
  width: 100%;
  padding: 5px 10px 0 10px;
}

[class*="bar-"] {
  margin: 0;
  padding: 0;
  grid-row-end: 102;
  text-align: center;
}

[class*="bar-"] > span {
  position: relative;
}

[class*="bar-"]:nth-child(odd) {
 background-color: #1a77ff;
}

[class*="bar-"]:nth-child(even) {
 background-color: #e2638e;
}

#xBox {
  text-align: center;
  position: relative;
  /*width: 600px;*/
  /*left: 94px;*/
  /*top: 20px;*/
}

#values {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /*grid-template-rows: 1fr;*/
  grid-column-gap: 9px;
  padding: 10px 10px 0 94px;
}

#x-axis {
  text-align: center;
  position: relative;
  top: 20px;
}